.flightContainer {
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 80%;
  @include flexbox(column, wrap, space-between, center);
  .flight__top {
    display: flex;
    align-items: center;
    width: 70%;
    flex-grow: 1;

    @include flexbox(row, wrap, space-between, center);
    font-family: "Raleway-Bold";
    font-size: 1.5em;

    .flight__from {
      text-transform: capitalize;
    }
    .flight__image {
      width: 30px;
    }
    .flight__to {
      text-transform: capitalize;
    }
  }
  .flight__line {
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid grey;
    margin-bottom: 5px;
  }
  .flight__bottom {
    margin-bottom: 5px;
    font-family: "Raleway";

    width: 80%;

    @include flexbox(row, wrap, space-between, center);
    .flight__info {
      .flight__label {
        justify-content: flex-start;
      }
      .flight__number {
        justify-content: flex-end;
      }
    }
  }
}

// display: flex;
// flex-direction: $d;
// flex-wrap: $w;
// justify-content: $j;
// align-items: $a;
