
@mixin lightRaleway() {
  font-family: 'Raleway', sans-serif;
    color: $white;

}
@mixin storyText(){
    color: $white;
  padding-left: 2px;
font-family: 'Questrial', sans-serif;
  font-size: 4.5vw;
line-height: 4.5vw;
@include desktop(){
  // font-size: 3.3vw;
  // line-height: 3.3vw;
}

}

@mixin storyText--tag(){
    color: $white;
font-family: 'Questrial', sans-serif;
    font-size: 3.1vw;
    line-height:3.1vw;
    @include desktop(){
      font-size: 2.0vw;
        line-height:2.0vw;
    }
}

@mixin menuBar__font {
font-family: 'Questrial', sans-serif;
  color: $white;
}
@mixin main_font {
  font-family: 'Questrial', sans-serif;
    color: $white;
}
@mixin hero__title {
font-family: 'Questrial', sans-serif;
  color: $white;
  font-size:4.5em;
}
@mixin hero__subTitle() {
  font-family: 'Questrial', sans-serif;
    color: $white;
    font-size:1.4em;
}

@mixin fisheryInfo__title() {
  font-family: 'Questrial', sans-serif;
    color: $black;
    font-size:2.0em;
}


@mixin fisheryInfo__body() {

  font-family: 'Questrial', sans-serif;
    color: $black;
    font-size:1.0em;
}

@mixin fisheryInfo__body_lightRaleway() {
  font-family: 'Raleway', sans-serif;
  color: $black;
  font-size:1.0em;

}
@mixin beat_tab() {

  font-family: 'Questrial', sans-serif;
    color: $black;
    font-size:1.0em;
}

@mixin pools__font {
font-family: 'Questrial', sans-serif;
  color: $black;
}
