.galleyContainer {
  display: flex;
  margin-left: 10%;
  width: 80%;
  height: 80px;
  background: $lightGrey;
  border-radius: 15px;
  margin-bottom: 20px;
  @include flexbox(row, wrap, space-between, center);

  .galley__image {
    width: 30px;
  }

  .galley__label {
    font-family: "Raleway";
    padding-left: 20px;
  }
}
