.handover {
  width: 100%;
  margin-top: 20px;
  .handover_button {
    font-family: "Raleway-Bold";
    display: flex;
    margin-left: 10%;
    width: 80%;
    height: 80px;
    background: #363636;
    border-radius: 15px;
    margin-bottom: 20px;
    @include flexbox(row, wrap, center, center);
    color: white;
    button {
      text-align: center;
    }
  }
}

// .galleyContainer {
//   display: flex;
//   margin-left: 10%;
//   width: 80%;
//   height: 80px;
//   background: $lightGrey;
//   border-radius: 15px;
//   margin-bottom: 20px;
//   @include flexbox(row, wrap, space-between, center);
//
//   .galley__image {
//     width: 30px;
//   }
//
//   .galley__label {
//     padding-left: 20px;
//   }
// }
//
