$black: black;
$white: white;
$lightGrey: #ededed;
$whiteBG: #f1f1f1;
$backgroundColor: #d8d8d8;

@mixin flexbox($d, $w, $j, $a) {
  display: flex;
  flex-direction: $d;
  flex-wrap: $w;
  justify-content: $j;
  align-items: $a;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  src: url("../../fonts/Oswald/Oswald-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

@import "../../../node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();

@import "media.scss";
@import "fonts.scss";
@import "htags.scss";
@import "home.scss";
@import "./popup/popUpMain.scss";
@import "./popup/popUp.scss";
@import "outBound.scss";
@import "swaminfo.scss";
@import "truck.scss";
@import "flight.scss";
@import "handover.scss";
@import "galley.scss";
html {
}

body {
}

* {
  box-sizing: border-box;
}

.ViewSlide {
  width: 100%;
  height: 100%;
  flex: 2 0 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all ease 0.5s;
  position: absolute;
}
.ViewSlide:nth-child(2) {
  background: lightGrey;
  width: 80%;
  margin-left: 10%;
}

.ViewSlider {
  display: flex;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;

  .footer {
    margin-left: 10%;
    justify-content: center;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    background: lightGrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .footer__line {
      width: 30%;

      height: 10px;
      top: 0;
      border: 5px solid grey;
      border-radius: 20px;
    }
    .footer__label {
      font-family: "Raleway-Bold";
      padding-top: 20px;
      font-size: 1.5em;
      justify-content: center;
    }
  }
}
.testButton {
  z-index: 99999;
}
