.outboundcontainer {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .outbound__iamgeContainer {
    // padding-top: 25px;
    // padding-bottom: 25px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    //
    // background: $lightGrey;
    // margin-bottom: 20px;
    .outbound__image {
      max-width: 100%;
      width: 100%;
    }
  }
}
