.swamInfoContainer {
  width: 100%;
  .swamInfo_title {
    display: flex;

    font-family: "Raleway-Bold";
    padding-top: 20px;
    font-size: 1.5em;
    justify-content: center;
  }
  margin-bottom: 40px;
}
