.truckContainer {
  margin-left: 15%;
  width: 70%;

  margin-top: 20px;
  .truck__table {
    font-family: "Raleway";
    color: grey;

    flex-grow: 1;

    @include flexbox(row, wrap, space-between, center);
  }
}
